*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: hsl(30, 38%, 92%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: 'Montserrat', sans-serif;
    background: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

.card {
    width: 600px;
    height: 450px;
    display: flex;
}

.image {
    width: 50%;
    background: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem 0 0 1rem;
}

.info {
    width: 50%;
    padding: 4rem 3rem;
    font-size: 1.4rem;
    color: hsl(228, 12%, 48%);
}

.info>span {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.info h1 {
    font-size: 3rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-block: 1.5rem;
    color: hsl(212, 21%, 14%);
    line-height: 1.1;
}

.description {
    line-height: 1.8;
}

.price {
    color: hsl(158, 36%, 37%);
    margin-block: 2rem;
    font-size: 3.3rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    display: flex;
}

.old-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 2rem;
    align-self: center;
}

.button {
    cursor: pointer;
    width: 100%;
    padding: 1em;
    color: hsl(0, 0%, 100%);
    background: hsl(158, 36%, 37%);
    border-radius: 1rem;
    outline: none;
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
}

.button img {
    margin-right: 1rem;
}

.button:hover {
    background-color: hsl(156, 42%, 18%);
}


@media (max-width: 600px) {
    body {
        height: auto;
    }

    .container {
        margin: 3rem 1rem;
    }

    .card {

        flex-direction: column;
        width: 95vw;
        height: auto;
    }

    .image {
        background: url(images/image-product-mobile.jpg);
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    .info {
        height: 55%;
        width: 100%;
    }

    .info h1 {
        font-size: 4rem;
    }

    .description {
        line-height: 2;
    }
}